.weather-box {
    height: auto;
    width: 400px;
    background-color: white;
    border-radius: 25px;
    text-align: center;
}

.city{
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
}

.temperature {
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
}

.feels-like {
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
}

.condition {
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
}