.body {
    padding: 20px;
    background-color: black;
}


.top {
    background-image: url("background.jpg");
    background-size: 1800px;
    padding: 20px;
    
}


.bottom {
    background-image: url("nightsky.jpg");
    background-size: 1500px;
    margin: auto;
    padding: 225px;
    border: 20px;
}

.middle {
    background-color: black;
    padding: 5px;
}